.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftSide,
.centerSide,
.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.title {
  text-align: center;
}
